*{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
}
ul{
    list-style: none;
}
.app{
    max-height: 100vh;
}

.app main{
    height: calc(100vh - 90px);
}

.app footer{
    height: 90px;
    background-color: #181818;
}

.sidebar{
    color: white;
    background-color: #000000;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: calc(100vh - 90px);
    overflow-y: hidden;
    font-size: 12px;
}

.sidebar *{
    margin: 10px 5px 10px 5px;
}

.top-sidebar{
    min-height: 500px;
    display: flex;
    flex-direction: column;
}
.content{
    background-color: #121212;
    overflow-y: scroll;
    height: 100%;
}

.upgrade{
    padding-right: 15px;
    height: 90px;
    position: fixed;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    z-index: 10;
}

.upgrade div{
    position: absolute;
    right: 0px;
    bottom: 20px;
}

.upgrade button{
    border-style: none;
    height: 45px;
    border-radius: 25px;
    width: 200px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid white;
}

.logo{
    width: 80%;
}

.sidebar-buttons{
margin-top: 20px;
}

.sidebar-buttons li {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar-playlist{
    margin-top: 20px;
    flex-shrink: 1;
    flex-grow: 1;
    overflow: auto;
}

.sidebar-playlist div{
    display: flex;
    align-items: center;
}

.sidebar-playlist i{
    font-size: 40px;
    margin-right: 7px;
}

.sidebar-playlist *{
    margin-top: 10px;
}

.bot-sidebar{
    height: 120px;
}

 svg{
    width: 30px;
}

.logo svg{
    width: 100%;
}

.logo-small{
    display: none;
}

.user, .install{
    display: flex;
    align-items: center;
}

.install{
    border-bottom: 2px solid #181818;
}

nav{
    margin: 100px 0px 40px;
}

nav ul{
    text-align: center;
    font-size: 13px;
}

nav ul li{
    display: inline-block;
    color: #AEAEAE;
    margin-right: 12px;
    position: relative;
}

.content h3, .content span{
    margin-left: 27px;
    margin-top: 40px;
}

.content h3{
    margin-bottom: 10px;
    font-size: 30px;
}

.content span{
    font-size: 12px;
}

.content span, .sidebar-buttons li span, .sidebar-playlist div, .sidebar-playlist ul li, .install span{
    color: #AEAEAE;
}

.albums{
    margin-left: 20px;
}
.albums .item img{
    width: 90%;
}

.artists .item img
{
    border-radius: 50%;
}

.item{
    text-align: center;
    margin-top: 20px;
}

.name-item, .subname-item{
    margin-top: 10px;
}

.subname-item{
    color: #AEAEAE;
}

.item  .icon-play:hover img{
    opacity: 50%;
}

.icon-play{
    position: relative;
   z-index: 1;
}

.icon-play  i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    display: none;
}

.icon-play:hover i{
    display: block;
    cursor: pointer;
} 


.footer-row{
    flex-flow: nowrap;
    align-items: center;
}

.footer-row .middle-col{
    flex-shrink: 2;
    justify-content: center;
}

.top-middle-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-row .left-col, .footer-row .right-col{
    display: flex;
    align-items: center;
}

.left-col .col img{
    
    height: 80px;
    margin: 5px 5px 0 5px;
}

.song-bar, .volume-bar{
    width: 50%;
    background: #AEAEAE;
    height: 5px;
    margin: 0 auto;
    border-radius: 10px;
}

.bottom-middle-song{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px 0px 10px;
}
.song-bar{
    width: 70%;
}

.song-bar::after{
    content: "";
}


/* UN PO DI FORMATTAZIONE */

.song-name, .sidebar i, footer i, .sidebar-playlist ul li span{
    color: #AEAEAE;
}



.sidebar h6{
    font-size: 15px;
}

.sidebar-playlist li span:hover, footer i:hover, nav ul li:hover, .install .buttons-name:hover, .top-sidebar .buttons-name:hover, .create-playlist:hover span,.create-playlist:hover i, .create-playlist i:hover{
    color: white;
    cursor: pointer;
}

.upgrade button:hover, .play-footer:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.song-name:hover{
    cursor: pointer;
    color: white;
    text-decoration: underline;
}

.top-sidebar .sidebar-buttons li:hover{
    border-left: 2px solid green;
}
.top-sidebar .sidebar-buttons li:hover span{
    color: white;
}
.top-sidebar .sidebar-buttons li svg:hover path, .top-sidebar .sidebar-buttons li:hover svg path{
fill: white;
}

.create-playlist span{
    color: #AEAEAE ;
}

.top-sidebar .sidebar-buttons li svg:hover{
    cursor: pointer;
}

nav ul li::after{
    content: "";
    width: 50%;
    height: 2px;
    background: green;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -3px;
    display: none;
}

nav ul li:hover::after{
    display: initial;
}

.duration, .left-col .song-details{
    font-size: 12px;
}

.song-details{
    padding-right: 10px;
}

.play-footer{
    font-size: 30px;
    padding: 0px 10px 0px 10px;
}

[class*="backward"]{
    padding-left: 10px;
}

[class*="forward"]{
    padding-right: 10px;
}

i[class*=desktop]{
    padding: 0px 10px 0px 10px;
}

i[class*=fa-list]{
    padding-left: 10px;
}

.top-sidebar .sidebar-buttons svg path{
    fill: #AEAEAE;
}

@media all and (max-width: 575px){
    .buttons-name{
        display: none;
    }

    .sidebar-playlist{
        display: none;
    }

    .sidebar *{
        margin: 10px 0px 10px 1px
    }

    .logo{
        display: none;
    }

    .logo-small{
        display: initial;
        display: flex;
    }

    .install{
        border: none;
    }
}

@media all and (max-width: 500px){
    footer .footer-row .left-col *, footer .footer-row .middle-col *, footer .footer-row .right-col *{
        transform: scale(0.95);
    }

    .left-col .col img{
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media all and (max-width: 430px){
    footer .footer-row .left-col *, footer .footer-row .middle-col *, footer .footer-row .right-col *{
        transform: scale(0.90);
    }

    .left-col .col img{
        margin-left: 0px;
        margin-right: 0px;
    }
    .song-details{
        padding: 0px;
    }
    i[class*=desktop]{
        padding: 0px 5px 0px 5px;
    }
    i[class*=fa-list]{
        padding-left: 0px;
    }
}

